i{
  font-weight: bold;
}
.bla{
  font-size: 105px !important;
  padding-top: 72px;
}

.deportivarse-img{
  position: absolute;
  opacity: 0.8;
}

.deportivarse-titulo{
  position: relative;
  color: white;
  width: 50%;
  padding-left: 32px;
  padding-top: 70px;
}

.description{
  padding-top: 225px;
  font-size: 26px;
}

.inner header{
  padding: 0px;
}

.subtitulo{
  font-size: 40px;
}


.menu-bis li{
  float:left;
  list-style-type: none;

}


.my-nav{
  padding-right: 260px;
}

.menu-description{
  padding-top: 80px !important;
  padding-bottom: 0px !important;
}

.menu-description img{

    filter: grayscale(70%);
}

.header{
  padding-top: 82px !important;
}
.header, .header nav{
  background: white;
}
